<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">To-DoList</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <ul class="list-group" *ngFor="let todo of todos">
    <li class="list-group-item list-group-item-primary">{{todo.sno}} - {{todo.title}} - {{todo.description}}</li>
  </ul>

